<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739965046802-dv8nll0r835t9pvtn6q6qe8kgld747h6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739965046802-dv8nll0r835t9pvtn6q6qe8kgld747h6</string>
	<key>API_KEY</key>
	<string>AIzaSyAatoctZTobmICWo6RMG7mz3nRp2Z3jRZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>739965046802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krauserhuang.TasteAtlas</string>
	<key>PROJECT_ID</key>
	<string>jai-ba-me</string>
	<key>STORAGE_BUCKET</key>
	<string>jai-ba-me.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739965046802:ios:d53371e270f5a66ba448cb</string>
</dict>
</plist>